<div class="container shadow m-5">
    <div class="row">
        <div class="col-6">
            <img src="https://img.lovepik.com/element/45007/0204.png_860.png" alt="" width="350px" style="padding-top:40px;padding-left: 20px;">
        </div>
        <div class="col-6">
            <form #loginform="ngForm" (ngSubmit)="login()" class="border shadow m-5 p-5 text-center bg-white">
                <!-- {{email}},{{password}} -->
                <h3>Login Here</h3>
                <input type="text" placeholder="Email Address" class="form-control" required name="email" [(ngModel)]="email" #userEmail="ngModel" id="Email">
                <div *ngIf="userEmail.invalid && userEmail.touched" class="text-danger fw-bolder">*Invalid Email</div>
                <br>
                <input type="password" placeholder="Email Password" class="form-control" required name="password" [(ngModel)]="password"  #userPassword="ngModel" pattern="[a-zA-Z0-9]*" id="Password">
                <div *ngIf="userPassword.invalid && userPassword.touched" class="text-danger fw-bolder">*Invalid Password</div>


                <div class="text-center p-4">
                    <button [disabled]="loginform.invalid"  type="submit" class="btn btn-success">Sign In</button>

                </div>
            </form>

        </div>

    </div>
</div>